<% if user_signed_in? %>
  <div class="row-fluid">
    <div class="span12">
      <h1>プロフィール</h1>
      <h2><%= current_user.name %></h2>
      <div class="thumnail">
        <%= image_tag current_user.user_image.url,:size => "100x100" %>
      </div>
      <h3>投稿数:<%= current_user.microposts.count %></h3>
      <h3>お役立ち数:<%= @count %></h3>
    </div>
  </div>
<% else %>

	<div class="keyVisualContainer-smartphone">
    	<div class="keyVisualContent">
        <h1>「井戸端会議」のような感覚で地域情報を<br>共有してみませんか？</h1>
      	<h2>
      		地域子育て情報コミュニティ「Sil」で新しい体験を
      	</h2>
      </div>
  </div>
  <div class="center">
      <%= link_to "「Sil」に登録するにはこちらから！", new_user_registration_path,
                                class: "btn btn-large btn-danger" %>
	</div>
<% end %>