<% if user_signed_in? %>
  <div class="row-fluid">
    <div class="span12">
      <h1>プロフィール</h1>
      <h2><%= current_user.name %></h2>
      <div class="thumnail">
        <%= image_tag current_user.user_image.url,:size => "100x100" %>
      </div>
      <h3>投稿数:<%= current_user.microposts.count %></h3>
      <h3>お役立ち数:<%= @count %></h3>
      <h3>プロフィール:</h3><span><%= @current_user.profile %></span>
      <h3>Silポイント:</h3><span><%= @current_user.sil_point %></span>
    </div>
  </div>
<% else %>

	<div class="keyVisualContainer">
    	<div class="keyVisualContent">
        <h1>同じ地域で子育てをするママたちの語らいの場<br>情報共有に参加してみませんか？</h1>
      	<h2>
      		忙しいママ達の「”知らない”から、”知る”へ」をサポートいたします
      	</h2>
      </div>
  </div>
  <div class="center">
      <%= link_to "「Sil」に登録するにはこちらから！", new_user_registration_path,
                                class: "btn btn-large btn-danger" %>
	</div>
<% end %>