<header class="navbar navbar-fixed-top">
    <div class="container">
      <%= link_to image_tag("logo.jpg"), root_path, id: "logo"  %>
          <h2><i>Sil-地域子育て情報コミュニティ</i></h2>
          <% if user_signed_in? %>
          <ul id="loginNav">
            <%= search_form_for(@search, url: events_path) do |f| %>
              <li>
              <%= button_tag( class: "btn btn-default btn-sm") do %>
                <%= content_tag :span, "検索", class: "glyphicon glyphicon-search" %>
              </li>
              <li>
              <%= f.text_field :name_cont, :placeholder => "いどばた検索", :size => "20px" %>
              </li>
              <% end %>
            </ul>
            <% end %>

          <% else %>
          <ul id="unloginNav">
            <li>
                <%= link_to 'ログイン', new_user_session_path %>
            </li>
            <li>
            <%= link_to '無料登録', new_user_registration_path %>
            </li>
            <li><%= link_to "ヘルプ", pages_help_path %></li>
          </ul>
          <% end %>
        </ul>
    </div>
</header>