<div class="navbar-inner">
    <div>
      <nav>
        <ul class="nav">
          <li><%= link_to 'サイト利用者交流', events_path(category_id: 7), class: "myButton myButton7" %></li>
          <li><%= link_to '地域イベント・遊び場', events_path(category_id: 1), class: "myButton myButton1" %></li>
          <li><%= link_to '病院関連', events_path(category_id: 2), class: "myButton myButton2" %></li>
          <li><%= link_to '子育て相談', events_path(category_id: 4), class: "myButton myButton4" %></li>
          <li><%= link_to 'おさがりフリマ', events_path(category_id: 5), class: "myButton myButton5" %></li>
        </ul>
      </nav>
    </div>
  </div>