<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title><%= full_title(yield(:title)) %></title>
</head>
<body>
	<%= render 'layouts/facebook' %>
	<%= render 'layouts/header' %>
	<div class="container-fluid">
	<div class="row">
		<% if notice %>
		<p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		<p class="alert alert-danger"><%= alert %></p>
		<% end %>
		<% if user_signed_in? %>
		<div class="col-xs-10">
		<%= yield %>
		</div>
		<div class="col-xs-2">
		<%= render 'layouts/sidebar_right' %>
		</div>
		<% else %>
		<div class="col-xs-12">
		<%= yield %>
		</div>
		<% end %>
	</div>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
