<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("logo.jpg"), root_path, id: "logo"  %>
      <nav>
        <ul class="nav">
          <% if user_signed_in? %>
          <div class="form-group navbar-form navbar-left pull-right">
            <%= search_form_for(@search, url: events_path) do |f| %>
              <%= f.text_field :name_cont, :placeholder => "いどばた検索", :size => "10px" %>
              <%= button_tag( class: "btn btn-default btn-sm") do %>
                <%= content_tag :span, "検索", class: "glyphicon glyphicon-search" %>
              <% end %>
            <% end %>

          <% else %>
            <li><%= link_to '仮登録', new_user_registration_path %>
            </li>
            <li>
                <%= link_to 'ログイン', new_user_session_path %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>