<div class="navbar-inner">
    <div>
      <nav>
        <ul class="nav">
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
          <li><%= link_to "ヘルプ", pages_help_path %></li>
          <li><%= link_to 'イベント一覧', events_path %></li>
          <li><%= link_to 'イベント作成', new_event_path %></li>
          <li>
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
                </li>
        </ul>
      </nav>
    </div>
  </div>